@{
    ViewBag.Title = "Employees";
}

<div class="cb-canvas">
    <div class="cb-highlight">
        <table class="sr-table" id="Resources">
            <col style="width: 50%" />
            <col style="width: 50%" />
            <thead>
            <tr>
                <th>
                    <div style="margin: 5px auto; text-align: center">
                        @Html.ActionLink("Calendar", "Calendar")
                    </div>
                </th>
                <th>
                    <div style="margin: 5px auto; text-align: center">
                        @Html.ActionLink("Customers", "Index")
                    </div>
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div class="cb-canvas">
<div class="cb-highlight">
        <table class="sr-table" id="Employees">
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <col style="width: 20%" />
            <caption>Employee Contact Information</caption>
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Office Phone</th>
                    <th>Cell Phone</th>
                    <th>Work Email</th>
                    <th>Gmail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aruna Rajan</td>
                    <td> - </td>
                    <td>425-698-0493</td>
                    <td>aruna</td>
                    <td>aruna219@gmail.com</td>
                </tr>
            <tr>
                <td>Caleb Pike</td>
                <td>920-750-5896</td>
                <td>920-517-7836</td>
                <td>cpike</td>
                <td>pikec21@gmail.com</td>
            </tr>
            <tr>
                <td>Cody Brittnacher</td>
                <td>920-750-5670</td>
                <td>920-850-7679</td>
                <td>cbrittnacher</td>
                <td>clbrityv@gmail.com</td>
            </tr>
            <tr>
                <td>Craig Dantoin</td>
                <td>920-750-5894</td>
                <td>715-367-7037</td>
                <td>cdantoin</td>
                <td>cddantoin@gmail.com</td>
            </tr>
            <tr>
                <td>Dave Palau</td>
                <td>920-750-5674</td>
                <td>920-470-3413</td>
                <td>dpalau</td>
                <td>dpalau@gmail.com</td>
            </tr>
            <tr>
                <td>Evan Amundson</td>
                <td>920-750-xxxx</td>
                <td>701-446-6598</td>
                <td>eamundson</td>
                <td>amundson.9001@gmail.com</td>
            </tr>
                <tr>
                    <td>Kristy Wurzer</td>
                    <td>920-750-5898</td>
                    <td>920-609-5171</td>
                    <td>kwuzer</td>
                    <td>kristywurzer@gmail.com</td>
                </tr>
                <tr>
                    <td>Leah Drewa</td>
                    <td>920-750-5672</td>
                    <td>920-475-9661</td>
                    <td>ldrewa</td>
                    <td>leah.drewa@gmail.com</td>
                </tr>
            <tr>
                <td>Pat Pucci</td>
                <td>920-750-5893</td>
                <td>920-378-0015</td>
                <td>ppucci</td>
                <td>ppucci114@gmail.com</td>
            </tr>
            <tr>
                <td>Rachel Moore</td>
                <td>920-750-xxxx</td>
                <td>920-419-8534</td>
                <td>rmoore</td>
                <td>rachelmoore0804@gmail.com </td>
            </tr>
            <tr>
                <td>Randal Hicks</td>
                <td>920-750-5673</td>
                <td>708-205-4514</td>
                <td>rhicks</td>
                <td>randalhicks@gmail.com</td>
            </tr>
            <tr>
                <td>Robert Prescott</td>
                <td>920-750-xxxx</td>
                <td>608-213-5463</td>
                <td>rprescott</td>
                <td>bobby.prescott@gmail.com</td>
            </tr>
                <tr>
                    <td>Steve Moore</td>
                    <td>920-750-5891</td>
                    <td>920-419-8599</td>
                    <td>smoore</td>
                    <td>smoorettech@gmail.com</td>
                </tr>
                <tr>
                    <td>Tarek Ghazi</td>
                    <td>920-750-5892</td>
                    <td>913-706-0450</td>
                    <td>tghazi</td>
                    <td>wizardofgaz@gmail.com</td>
                </tr>
                <tr>
                    <td>Tom DeWitt</td>
                    <td>920-750-5895</td>
                    <td>920-360-7921</td>
                    <td>tdewitt</td>
                    <td>tomdewittz@gmail.com</td>
                </tr>
                <tr>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                </tr>
                <tr>
                    <td>Conference Room</td>
                    <td>920-750-5671</td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                </tr>
                <tr>
                    <td>Voice Mail Portal</td>
                    <td>920-750-5899</td>
                    <td> - </td>
                    <td> - </td>
                    <td>(Call in to get voice mail)</td>
                </tr>
                <tr>
                    <td>Fax (Incoming)</td>
                    <td>920-750-5891</td>
                    <td> - </td>
                    <td> - </td>
                    <td>(Will send to Steve's email)</td>
                </tr>
                <tr>
                    <td>Auto Attendant</td>
                    <td>920-750-5890</td>
                    <td> - </td>
                    <td> - </td>
                    <td> - </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>